<h1>Menú matemáticas</h1>
<ul>
    <li>
        <a asp-controller="Matematicas" asp-action="SumarNumerosPaco">
            Sumar números Paco
        </a>
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="TablaMultiplicarPaco">
            Tabla multiplicar Paco
        </a>
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="CollatzPaco">
            Collatz Paco
        </a>
    </li>
</ul>