<h1>SumarNumerosPaco</h1>
<form method="post">
    <label>Número 1: </label>
    <input type="text" name="numero1" class="form-control" /><br />
    <label>Número 2: </label>
    <input type="text" name="numero2" class="form-control" /><br />
    <button type="submit" class="btn-primary">Sumar</button>
</form>
<h1>@ViewData["mensaje"]</h1>